.section-educ-det-addedit {
  .col-preview-tips {
    padding-left: 0;
  }
  .btn-toggle {
    font-size: 14px;
    font-family: HK Grotesk, sans-serif;
    line-height: 1.5;
    text-transform: none;
    text-decoration: none;
  }
}
