$defaultColor: #3983fa;
$primaryColor: #e44747;
$white: #fff;
$darkPrimaryColor: #d04141;

// #d7dde2

$theme-colors: (
  'default': $defaultColor,
  'primary': $primaryColor,
  'success': #ff5f42,
);
