$primaryColor: #00949f;
$darkPrimaryColor: #019eaa;
$secondaryColor: #ff5f42;
$darkBlueColor: #48507a;
$darkLightBlueColor: #555c83;
$lightGreyColor: #8492a6;
$lightGreyColor1: #848895;
$mediumGreyColor: #666766;
$borderColor: #f1f1f1;
$lightBorderColor: #e7e7e7;

$primaryPurple: #9647db;

$prevPrimaryColor: #00949f;

$theme-colors: (
  'primary': $primaryColor,
  'success': #ff5f42,
);
