@import 'styles/variables.scss';

.section-cntc {
  padding: 0 !important;

  .row-full-name {
    margin-top: 0 !important;
    .col-first-name {
      padding-right: 5px !important;
    }
    .col-last-name {
      padding-left: 5px !important;
      padding-right: 0px !important;
    }
  }

  .row-profession {
    .col-profession {
      padding-right: 0px !important;
    }
  }

  .row-city-state-zip {
    .col-state {
      padding-left: 5px !important;
      padding-right: 0px !important;
    }
    .col-city {
      padding-right: 5px !important;
    }
    .col-zip {
      padding-left: 10px !important;
      padding-right: 0px !important;
    }
  }

  .row-phone-email {
    .col-phone {
      padding-right: 5px !important;
    }
    .col-email {
      padding-left: 5px !important;
      padding-right: 0px !important;
    }
  }
}
