.editor-wrapper {
  border: 1px solid #e8ecf0;
  background: #fff;
  box-shadow: 0 0 5px rgba(88, 88, 95, 0.14);
  display: -ms-flexbox;
  display: flex;

  .keyword {
    font-weight: 600;
  }

  #draftJsEditor {
    position: relative;
    width: 50%;

    -ms-flex-order: 2;
    order: 2;

    border-left: 1px solid #ddd;
  }

  .examples-wrapper {
    border-left: 1px solid #ddd;
    width: 50%;
    position: relative;

    border-top: 0;
    box-shadow: none;
    border-right: none;
    background-color: #f6f8fa;

    .header-examples {
      margin: 17px 18px 25px 18px;
    }
  }
}
